@media(max-width:1200px ){
    .container{
        padding: 0 50px;
    }

    .header{
        padding: 26px 0;
        margin-bottom: 40px;
    }

    .header__container{
        justify-content: space-between;
    }

    .logo{
        margin-right: 0;
    }

    .logo__img{
        max-width: 150px;
    }
    
    .nav{
        margin-right: 0;
    }

    .nav__item:not(:last-child){
        margin-right: 60px;
    }

    .hero-content{
        padding: 160px 77px ;
    }

    .hero-content__heading{
        font-size: 60px;
        max-width: 770px;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
    }

    .hero-content__text{
        font-size: 20px;
        max-width: 660px;
        width: fit-content;
        margin-bottom: 60px;
    }

    .hero-content__btn{
        font-size: 24px;
    }


}

@media(max-width:920px ){
    .container{
        padding: 0 50px;
    }

    .header{
        padding: 26px 0;
        margin-bottom: 40px;
    }

    .header__container{
        flex-wrap: wrap ;
    }

    .logo{
        margin-right: 0;
    }

    .logo__img{
        max-width: 150px;
    }

    .nav{
        margin-right: 0;
    }

    .nav__item:not(:last-child){
        margin-right: 40px;
    }

    .hero-content{
        padding: 160px 40px;
    }

    .hero-content__heading{
        font-size: 50px;
        max-width: 588px;
        margin-bottom: 16px;
    }

    .hero-content__text{
        font-size: 18px;
        max-width: 588px;
        margin-bottom: 60px;
    }

    .hero-content__btn{
        font-size: 23px;
    }

}

@media(max-width:720px ){
    .container{
        padding: 0 15px;
    }

    .header{
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .header__container{
        flex-wrap: wrap ;
        justify-content: space-between;
    }

    .logo{
        margin-right: 0;
    }

    .logo__img{
        max-width: 150px;
    }

    .nav{
        order: 3;
        margin-right: 0;
        overflow-x: scroll;
    }

    .nav::-webkit-scrollbar{
        display: none;
    }

    .nav__item:not(:last-child){
        margin-right: 24px;
    }

    .hero-content{
    padding: 60px 22px 60px 21px;
    text-align: center;
    width: 100%;
}

    .hero-content__heading{
        font-size: 20px;
        max-width: 247px;
        min-height: 69px;
        margin-bottom: 6px;
    }

    .hero-content__text{
        font-size: 12px;
        max-width: 247px;
        margin-bottom: 60px;
    }

    .hero-content__btn{
        font-size: 12px;
    }

}