@media(max-width: 1780px){
    .about-content{
        columns: 1;
    }

    .about-content__left{
        margin-bottom: 32px;
        margin-right: 0;
        width: 100%;
    }

    .about-content__right {
        width: 100%;
    }

    .questions-list {
    columns: 1;
}

.questions-item{
    margin-bottom: 32px;
}

.questions-item:last-child{
    margin-bottom: 0;
}

}

@media(max-width: 1424px){

    .container{
        padding: 0 50px;
    }

    .hero-content{
        padding: 160px 77px;
    }

.hero-content__heading{
    max-width: 770px;
width: 100%;
}

.hero-content__text{
    max-width: 660px;
    width: 100%;
    display: -webkit-box;
   -webkit-line-clamp: 2; 
           -line-clamp: 2;
   -webkit-box-orient: vertical;
}

    .nav__item:not(:last-child) {
    margin-right: 60px;
}
.logo__img{
    max-width: 150px;
    width: 100%;
}

.footer-right{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.how__content{
    gap: 50px;
}

.about{
    margin-bottom: 77px;
}

.about-text{
    margin-bottom: 60px;
}

.header{
    margin-bottom: 40px;
}

.hero{
    margin-bottom: 35px;
}

.how, .main{
    margin-bottom: 80px;
}
.footer{padding: 50px 0;}

.footer__list{
    margin-bottom: 90px;
}

.about__heading{
    margin-bottom: 20px;
}

.hero-content__heading{
    margin-bottom: 16px;
}
.hero-content__text{
    margin-bottom: 60px;
}

.nav{
    margin-right: 105px;
}

}