        html {
            box-sizing: border-box;
        }
        
        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        
        a {
            color: inherit;
            text-decoration: none;
        }
        
        img {
            display: block;
            max-width: 100%;
        }
        
        body {
            font-family: 'font', sans-serif;
        }
        
        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            color: #fff;
            background-color: #070217;
            font-family: Arial, Verdana, sans-serif;
        }
        
        .lincs {
            display: inline-block;
            margin-bottom: 50px;
        }
        
        .linc {
            display: inline-block;
            padding: 24px 49px;
            font-weight: 700;
            font-size: 18px;
            background-color: #3f2aff;
        }
        
        .linc:not(:last-child) {
            margin-right: 25px;
        }
        
        .download {
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            color: #3f2aff;
            padding-left: 30px;
            background-image: url(../img/download.png);
            background-position: left;
            background-repeat: no-repeat;
        }
        
        .skillbox {
            margin-top: 0px;
            margin-bottom: 50px;
        }
        
        .container {
            margin: 0 auto;
            padding: 80px 0;
            width: 1170px;
        }
        
        .title-1 {
            margin-top: 0px;
            margin-bottom: 40px;
            font-weight: 400;
            font-size: 60px;
            line-height: 60px;
            color: #333;
        }
        
        .title-2 {
            margin-top: 0px;
            margin-bottom: 10px;
            font-size: 40px;
            line-height: 46px;
            color: #333;
        }
        
        .title-3 {
            margin-top: 0px;
            margin-bottom: 10px;
            font-size: 30px;
            line-height: 34px;
            color: #333;
        }
        
        .paragraph {
            margin-bottom: 40px;
            width: 872px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
        
        .caption1 {
            background-image: url("../img/decorate-1.png");
            border-radius: 20px;
            padding: 30px;
            background-color: #f3f3f3;
            background-position: right center;
            background-repeat: no-repeat;
        }
        
        .caption2 {
            background-image: url("../img/decorate-2.png");
            border-radius: 20px;
            padding: 30px;
            background-color: #f3f3f3;
            background-position: right center;
            background-repeat: no-repeat;
            margin-bottom: 0px;
        }
        
        .img {
            margin-bottom: 40px;
        }
        
        .malon {
            padding: 50px 95px;
            border: 20px;
            font-weight: 700;
            color: #fff;
            width: 100%;
            font-size: 30px;
            background-color: #3f2aff;
            border-bottom-left-radius: 20px 20px;
            border-bottom-right-radius: 20px 20px;
            border-top-left-radius: 20px 20px;
            border-top-right-radius: 20px 20px;
        }
        
        .parent {
            border-radius: 20px;
            padding: 30px;
            background-color: #f3f3f3;
            margin-bottom: 40px;
        }
        
        .parent .paragraph {
            width: 692px;
            margin-bottom: 10px;
        }
        
        .parent:last-child {
            margin-bottom: 0px;
        }
        
        .items {
            padding-left: 15px;
        }
        
        .item {
            margin: 0px;
            margin-bottom: 20px;
        }
        
        .link {
            font-size: 20px;
            color: #3f2aff;
            border-bottom: #3f2aff solid 1px;
        }
        
        ul li::marker {
            color: #3f2aff;
            font-size: 1em;
            padding-left: 15px;
        }
        
        .li:not(:last-child) {
            margin-bottom: 0px;
        }
        
        .figure-text {
            border: 1px solid #b6b6b6;
            border-top: none;
            text-align: center;
            font-size: 14px;
            padding: 19px 0;
            font-weight: 400;
        }
        
        .figurev {
            display: inline-block;
            font-size: 0;
            width: 872px;
            margin: 0 0 40px;
        }