@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"),url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

 :root {
    --color-C93: #C93;
    --color-A47312: #A47312;
    --color-E9C479: #E9C479;
    --color-FFCC66: #FFCC66;
    --color-white: #fff;
    --color-black: #333;
    --color-grey: #666;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #F1F1F1;
    font-family: "Muller", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* glob*/

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.main {
    margin-bottom: 40px;
}

.section-title {
    margin: 0;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color:var(--color-black);
}

.section-text {
    margin: 0;
}

.link {
    text-decoration: none;
    color: var(--color-C93);
    width: fit-content;
}


/*header*/

.header {
    padding-top: 30px;
    margin-bottom: 72px;
}

.header-top {
    margin-bottom: 31px;
    align-items: center;
}

.header-top-left {
    align-items: center;
}

.header-logo {
    width: 261px;
    height: 54px;
    margin-right: 40px;
}

.header-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-top: 1px;
    color: var(--color-grey);
}

.header-address-link:focus{
    color: var(--color-C93);
  outline: 1px solid var(--color-C93);
  outline-offset: 5px;
}

.header-address-link:hover {
  color: var(--color-C93);
}

.header-address-link:active{
  color: var(--color-A47312);
  outline: none;
}

.header-office-link {
    display: flex;
    align-items: center;
}

.header-office-link__svg{
  margin-right: 5px;
}

.header-office-link:focus{
  outline: 1px solid var(--color-C93);
  outline-offset: 5px;
}
.header-office-link:hover {
  color: var(--color-E9C479);

}
.header-office-link:hover .header-office-link__svg path{
    fill: var(--color-E9C479);
}

.header-office-link:active{
  color: var(--color-A47312);
  fill:var(--color-A47312);
  outline: none;
}

.header-bottom {
    align-items: center;
    padding: 14px 45px;
    border-radius: 15px;
    justify-content: space-between;
    background-color: var(--color-white);
}

.header-btn1 {
    margin-right: 35px;
}

.header-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-item-link {
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey);
}

.header-item-link:focus{
    color: var(--color-C93);
    outline: 1px solid var(--color-C93);
    outline-offset: 5px;
}

.header-item-link:hover{
color: var(--color-C93);
}


.header-item-link:active{
color: var(--color-A47312);
outline: none;
}

.header-item:not(:last-child) {
    margin-right: 46px;
}

.btn {
    padding: 12px 20px;
    border: 1px solid var(--color-C93);
    border-radius: 10px;
    color: var(--color-C93);
    background-color: var(--white);
    font-size: 16px;
    line-height: 16px;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-C93);
  color: var(--color-white);
}

.btn:active {
  background-color: var(--color-A47312);
  color: var(--color-white);
}

.btn-header, .placing-btn,.btn,
.btn--tran,
.btn-contact {
  transition-property: background-color, color, font-weight;
  transition-duration: .3s;
  transition-timing-function: ease;
}

/*special*/

.special {
    margin-bottom: 68px;
}

.special-title {
    margin-bottom: 18px;
}

.special-content {
    align-items: center;
}

.special-content-left {
    flex-direction: column;
    margin-right: 24px;
}

.special-card {
    position: relative;
    width: 573px;
    min-height: 258px;
    padding-left: 45px;
    padding-top: 39px;
    padding-bottom: 36px;
    padding-right: 108px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    flex-direction: column;
}

.special-left-top {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-top.jpg);
}

.special-left-bottom {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-bottom.jpg);
}

.special-card:not(:last-child) {
    margin-bottom: 24px;
}

.special-right {

    padding-top: 212px;
    min-height: 540px;
    background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special.jpg);
}

.special-right::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.special-right-link:hover::before{
padding: 8px;
outline: var(--color-C93) solid;
outline-offset: 5px;
}

.special-card-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    max-width: 299px;
    font-style: normal;
    color: var(--color-white);
}

.special-right-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}

.special-text {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-white);
    opacity: 0.8;
    margin-bottom: 48px;
}

.special-text-right {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    padding-top: 0px;
}

.special-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.special-link::after{
    content: '';
    position:absolute;
    right: 0;top: 0;left: 0;bottom: 0;
    outline: 1px solid var(--color-C93);
    outline-offset: 5px;
    opacity: 0;
}
.special-link:focus::after{
    opacity: 1;
    transition: opacity  .4s;
}
.special-link:hover .special__svg {
    transform: translateX(11px);
    transition: transform .6s;
}

.special-link:active{
    color: var(--color-white);
}

.special__svg {
    transform: translateX(5px);
    transition: transform .6s;
}

/*about*/

.about {
    margin-bottom: 70px;
}

.about-title {
    margin-bottom: 20px;
}

.about-text {
    max-width: 888px;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
}


/*services*/

.services {
    margin-bottom: 67px;
}

.services-title {
    margin-bottom: 20px;
}

.services-list {
    flex-wrap: wrap;
}

.services-item {
  position: relative;
    max-width: 573px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: var(--color-white);
    padding: 195px 126px 35px 45px;
}



.services-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.services-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 21px;
}

.services-item:nth-last-of-type(1) {
    margin-right: 0;
}

.services-item:nth-last-of-type(1),
.services-item:nth-last-of-type(2) {
    margin-bottom: 0;
}

.bg-image-services-1 {
    background-image: url(../img/10.png);
}

.bg-image-services-3 {
    background-image: url(../img/12.png);
}

.bg-image-services-2 {
    background-image: url(../img/15.png);
}

.bg-image-services-4 {
    background-image: url(../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);
}

.services-content-title {
    margin: 0;
    margin-left: 0px;
}

.services-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    display: flex;
    align-items: center;
    width: fit-content;
}

.services-link::after{
  position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 1px solid var(--color-C93);
    outline-offset: 5px;
    opacity: 0;
  }

.services-link:focus::after {
  opacity: 1;
  border-radius: 0;
}

.services-link:hover {
    color: var(--color-E9C479);
}

.services-link:active{
    color: var(--color-A47312);
}

.services__svg {
    transform: translateX(5px);
    transition: transform .6s;
}

.services-link:hover .services__svg {
    transform: translateX(11px);
    transition: transform .6s;
}

.services-descr {
    max-width: 402px;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
}


/*advantages*/

.advantages {
    margin-bottom: 70px;
}

.advantages-title {
    margin-bottom: 22px;
}

.advantages-list {
    flex-wrap: wrap;
}

.advantages-item {
    width: 275px;
    min-height: 275px;
    margin-bottom: 20px;
    background-color: var(--color-white);
    border-radius: 15px;
    background-position: 45px 40px;
    background-repeat: no-repeat;
    padding: 116px 32px 32px 45px;
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 23px;
}

.advantages-item:nth-last-of-type(1) {
    margin-right: 0;
}

.advantages-item:nth-last-of-type(1),
.advantages-item:nth-last-of-type(2),
.advantages-item:nth-last-of-type(3),
.advantages-item:nth-last-of-type(4) {
    margin-bottom: 0;
}

.advantages-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
}

.advantages-img {
    width: 66px;
    height: 66px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 11px;
}

.advantages-img1 {
    background-image: url(../img/advantages1.svg);
}

.advantages-img2 {
    background-image: url(../img/advantages2.svg);
}

.advantages-img3 {
    background-image: url(../img/advantages3.svg);
}

.advantages-img4 {
    background-image: url(../img/advantages4.svg);
}

.advantages-img5 {
    background-image: url(../img/advantages5.svg);
}

.advantages-img6 {
    background-image: url(../img/advantages6.svg);
}

.advantages-img7 {
    background-image: url(../img/advantages7.svg);
}

.advantages-img8 {
    background-image: url(../img/advantages8.svg);
}


/*placing*/

.placing {
    margin-bottom: 70px;
}

.placing-title {
    margin-bottom: 21px;
}

.placing-list {
    flex-wrap: wrap;
}

.placing-item {
    position: relative;
    display: flex;
    width: 374px;
    min-height: 440px;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--color-white);
}

.placing-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.placing-item.placing-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.placing-img-block {
    min-width: 217px;
}

.placing-img {
    display: block;
}

.placing-content {
    padding-left: 45px;
    padding-top: 33px;
    padding-right: 45px;
    padding-bottom: 43px;
}

.placing-text-price {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 52px;
}

.placing-text-price-number {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.pracing-text-price-for {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.placing-text-name {
    margin: 0;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.placing-text-place {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: var(--grey);
}

.placing-price-star {
    margin-bottom: 14px;
}

.placing-item-last {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) , rgba(53, 65, 83, 0) ), url(../img/Group37.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 27px;
}

.placing-item-last-content {
    padding-bottom: 28px;
    padding-top: 371px;
}

.placing-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.placing-link::after{
  position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.placing-link__svg {
  width: 100%;
  height: 100%;
    transform: translateX(5px);
}

/*tour*/

.tour{margin-bottom:  70px ;}

.container_tour {
    background-color: #e9e9e9;
    border-radius: 15px;
    padding: 45px;
}

.tour-title {
    margin-bottom: 19px;
    padding-left: 0;
}

.tour-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-form__header{
  font-family: Muller;
  font-size: 12px;
  display: block;
  margin-bottom: 15px;
}

.tour-form__header-select {
    width: 169px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/arrow_bottom.svg);
    background-position:right center;
    background-size: .85em auto;
    background-repeat: no-repeat;
    border: none;
}

.container_form{
    background-color: var(--color-white);
    border-radius: 15px;
  padding: 27px 23px 30px 20px;}

  .tour-form__label-input{
    width: 121px;
    border: none;
  }

  .tour-form__label-bottom{
    margin-bottom: 1px;
  border-bottom: 1px solid #e9e9e9;}

.tour-form__btn {
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

/*contacts*/

.contacts-content {
    padding: 45px;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 15px;
}

.contacts-address {
    max-width: 375px;
    width: 100%;
}

.contacts-address__address{
font-style: normal;
margin-bottom: 45px;
}

.contacts-item:last-child {
    margin-bottom: 0;
}

.contacts-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.contacts-item{
  padding-bottom: 23px;
  margin-bottom: 25px;
  border-bottom: 1px #e9e9e9 solid;
  justify-content: space-between;
}

.contacts-item-email{
  color: #999;
}

.contacts-item-content {
    width: 230px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}

.contacts-links {
    flex-direction: column;
}
.contacts-link:hover, .footer-center-link:hover{
  color: var(--color-E9C479);
}

.contacts-link:focus, .footer-center-link:focus{
  color: var(--color-C93);
  outline:  1px solid var(--color-C93) ;
  outline-offset: 5px;
}

.contacts-link:active, .footer-center-link:active{
  color: var(--color-A47312);
  outline: none;
}

.contacts-btn {
    padding: 27px 29px;
}

/*footer*/

.container-footer {
    padding: 45px;
    border-radius: 15px;
    color: var(--color-white);
    background-color:var(--color-black);
    background-image: url(../img/footer-bg.svg);
    background-position: 731px bottom;
    background-repeat: no-repeat;
}

.footer-left {
    margin-right: 102px;
    max-width: 320px;
}
.footer-center-desr-li:nth-child(2) {
  margin-bottom: 15px;
}
.footer-descr {
    margin: 0;
    width: 300px;
    margin-bottom: 49px;
    font-weight: normal;
    font-size: 16px;
    line-height: 190%;
}

.footer-left-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.footer-left-link:hover{
  color: var(--color-E9C479);
}
.footer-left-link:focus{
  color: var(--color-C93);
  outline: var(--color-C93) 1px solid;
outline-offset: 5px;
}

.footer-left-link:active{
  color: var(--color-A47312);
  outline: none;
}

.footer-center {
    display: block;
    margin-right: auto;
    flex-direction: column;
}

.footer-center-item {
    flex-direction: column;
    font-style: normal;
    margin-bottom: 5px;
}

.footer-center-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-center-desr {
    margin-bottom: 14px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}

.footer-center-desr-li{
    margin-bottom: 5px;
}

.footer-center-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.footer-right-list {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
}

.footer-right-item{
  margin-bottom: 20px;
  position: relative;
}


.footer-right-link:hover .footer-right-link__svg path{
  fill: var(--color-E9C479);
}

.footer-right-link:focus .footer-right-link__svg path{
  fill: var(--color-C93);
  
}
 .footer-right-link:focus{
    outline: var(--color-C93) 1px solid;
  outline-offset: 5px;
 }

.footer-right-link:active .footer-right-link__svg path{
  fill: var(--color-A47312);
}

.footer-right-item:last-child{
  margin-bottom: 0;
}
